<% if flash.present? %>
  <%flash.each do |key, message| %>
    <% if key == 'alert' %>
      <div class="alert alert-danger" role="alert">
        <%= content_tag :p, message %>
      </div>
    <% elsif key == 'notice' %>
      <div class="alert alert-primary" role="alert">
        <%= content_tag :p, message %>
      </div>
    <% else %>
      <div class="alert alert-secondary" role="alert">
        <%= content_tag :p, message %>
      </div>
    <% end %>
  <% end %>
<% end %>
