<div>
  <hr>
  <p class="card-text"><small class="text-muted">
    Copyright <%= current_year %><br>
    Project: <%= github_url('iL53n', 'test-guru') %>
    by: <%= github_url('iL53n', '') %><br>
    Application for creating tests.<br>
    Educational project in an online school
    <%= link_to  'Thinknetica',
                 'https://thinknetica.com/', target: '_blank'%>
    </small>
  </p>
</div>