<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category.title %>
</p>

<!--render @questions-->

<%= link_to 'Back', tests_path %>