<div>
  <hr>
  <p>
    Copyright <%= current_year %>
  </p>
  <p>
    Project: <%= github_url('iL53n', 'test-guru') %>
    by: <%= github_url('iL53n', '') %>
  </p>
  <p>
    Приложение для создания тестов.
  </p>
  <p>
    Учебный проект в онлайн-школе
    <%= link_to  'Thinknetica',
                 'https://thinknetica.com/', target: '_blank'%>
  </p>
</div>